@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Pontano Sans', sans-serif;
    background-color: #EEEEE0;
}
::-webkit-input-placeholder,::-webkit-file-upload-button, button, textarea, select{
    font-family: 'Pontano Sans', sans-serif;
}